In [ ]:
print("Hello")

Hello

Guido Van Rossum introduced Python

Characteristics of variable:

Name/Identifier

Data Type

Value

Assignment

Memory Location

In [ ]:
x =100
print(x)

100

**Variable rules**

**Keywords Types:**

Value keywords

Operator keyword

Control flow keyword

Structure keyword

Returning keyword

Import keyword

Exception handling keyword

Asynchronous Programming keyword

In [ ]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

# **Data types**

int

float

bool

str

list

dict

tuple

In [ ]:
x= input("Enter string ")
print(x)
type(x)

Enter string a
a

str

In [ ]:
num = input("Enter a number ")
print("Number ", num)
print("Data type of number ",type(num))

Enter a number a

In [ ]:
x = "Hello"
print(x)
print(type(x))

In [ ]:
a,b = 5,4
c= a+b
print(c)
type(c)

In [ ]:
a= 20
print(a)
type(a)

In [ ]:
a = int(input("Enter number "))
print(a)
type(a)

In [ ]:
pi = 3.14
print(pi)
type(pi)

In [ ]:
b = 20
print(float(b))
type(b)

In [ ]:
b = 20.877
print(type(b))

In [ ]:
b = float(input("Enter number "))
print(b)
type(b)

In [ ]:
x = ["abc", "def", "hij"]
print(x)
type(x)

In [ ]:
l1 = ['apple','mango','banana']
l2 = [1,2,3,4]
l1.append(l2)
print(l1)
type(l1)

In [ ]:
a = True
type(a)

In [ ]:
x = ('apple','mango','cherry')
print(x)
type(x)

In [ ]:
x = {'a':5,'b':7,'c':29}
print(x)
type(x)

# **Types of operators:**

Arithmetic --> +,-,**,/,%,//(Floor division)

Comparision --> <,>,==,!=,>=,<=

Logical --> and, or,not

Bitwise --> &,|,~,^,>>,<<

Assignment--> =,+=,-=,/=,//=,%=

Identity --> is, is not

Membership --> in, not in

In [ ]:
a = 5
b=2
print("Sum ",a+b)
print("Subtraction ",a-b)
print("Division ",a/b)
print("Multiply ",a*b)
print("Floor division ",a//b)
print("Modulus ",a%b)
print("Power ",a**b)

In [ ]:
a=5
b=2
print(a>b)

In [ ]:
a=5
b=2
print(a<b)

In [ ]:
a=5
b=2
print(a==b)

In [ ]:
a=5
b=5
print(a!=b)
print(a>=b)
print(a<=b)

# **Logical gates**

and,or,not

In [ ]:
def AND (a, b):
    if a == 1 and b == 1:
        return True
    else:
        return False
if __name__=='__main__':
    print(AND(1, 1))
    print("+---------------+----------------+")

    print(" | AND Truth Table | Result |")

    print(" A = False, B = False | A AND B =",AND(False,False),"| ")

    print(" A = False, B = True | A AND B =",AND(False,True)," | ")

    print(" A = True, B = False | A AND B =",AND(True,False)," | ")

    print(" A = True, B = True | A AND B =",AND(True,True)," | ")

**Identity operator**

Two values are located on the same part of the memory.

In [ ]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x
print(x is z)
print(x is y)
print(x == y)

In [ ]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x
print(x is not z)
print(x is not y)
print(x != y)

Lists are mutable

**Membership operator**

Used to check whether a value or variable is found in sequence

In [ ]:
x = ["apple", "banana"]

print("banana" in x)

In [ ]:
x = ["apple", "banana"]

print("cherry" not in x)

**Decision control statements in python**

In [ ]:
num=10
if num>0:
  print("Positive number")

In [ ]:
email = input("Enter email: ")
if @ in email and .com in email:
  print("Valid")

In [ ]:
num = 9
if num%2==0:
  print("Even")
else:
  print("odd")

In [ ]:
letter = input("Enter a letter ")
if letter in "AEIOUaeiou":
  print("Vowel")
else:
  print("Consonant")

In [ ]:
s = 85
if s>=90:
  print("You got A")
elif s>=80:
  print("You got B")
elif s>=70:
  print("You got C")
else:
  print("You need to improve your score")

In [ ]:
hour=15
if hour<12:
  print("Good Morning!")
elif hour<18:
  print("Good Afternoon!")
else:
  print("Good Evening!")

In [ ]:
month="December"
if month in ["December", "January", "February"]:
  print("It's winter.")
elif month in ["March","April", "May"]:
  print("It's Spring.")
elif month in ["June", "July", "August"]:
  print("It's Summer.")
else:
  print("It's Autumn.")

In [ ]:
age=25
if age>18:
  if age<30:
    print("You are in the 19-29 age group")
  else:
    print("You are older than 29")
else:
  print("You are under 18 years old")

In [ ]:
score= 85
if score>=90:
  grade="A"
else:
  if score>=80:
    grade="B"
  else:
    if score>=70:
      grade="C"
    else:
      grade="D"

print(f"Your grade is: {grade}")

In [ ]:
for i in range(1,6):
  print(i)

In [ ]:
text = "python"
for i in text:
  print(i)

In [ ]:
n = 5
for i in range(n):
  print(' '*(n-i-1)+'*'*(i+1))

In [ ]:
n = 5
for i in range(n):
  print('*'*(i+1))

In [ ]:
def add(x,y):
  return (x+y)

def subtract(x,y):
  return(x-y)

add(34,4)

In [ ]:
c=1
while c<=1:
  print(c)
  c+=1

In [ ]:
x =10
while x>0:
  print(x)
  x-=1
  if x==5:
    break

In [ ]:
x=1
while True:
  if x>5:
    break
  print(x)
  x+=1

In [ ]:
secret =7
guess=None
while guess!=secret:
  guess = int(input("Enter the no. "))
  if guess<secret:
    print("Too low")
  elif guess>secret:
    print("Too high")
  else:
    print("Guess is correct")

In [ ]:
for i in range(0,20):
  if i%2==0:
    continue
    print("Continue executed")
  else:
    print(i)

In [ ]:
nums = [1,2,3,4,5,6,7,8,9,10]
for num in nums:
  if num%2==0:
    continue
  print(num)

Pass is used when some code is required but don't want to execute that code

In [ ]:
def fun():
  pass

In [ ]:
class Myemptyclass:
  pass

In [ ]:
for letter in 'contriver':
  if letter=='t':
    pass
  else:
    print(letter)

**Cal Module**

In [ ]:
pip install calc

In [ ]:
import calc
calc.add()

In [ ]:
a =10
b=20
from calc import add,subtract
print(add,subtract)

**Math Module**

In [ ]:
import math
x = math.cos(2*math.pi)
print(x)

In [ ]:
import math as m
a=81
x=m.sqrt(a)
print(x)

In [ ]:
from math import *
a= int(input("Enter number "))
x = factorial(a)
print(x)

**Calendar Module**

In [ ]:
import calendar
yy=2023
mm=10
print(calendar.month(yy,mm))

In [ ]:
import calendar

print(calendar.calendar(2023))

**Recursion**

In [ ]:
def fact(n):
  if n==0:
    return 1
  else:
    return n*fact(n-1)
r = fact(5)
print(r)

In [ ]:
def fib(n):
  if n<=1:
    return n
  else:
    return fib(n-1)+fib(n-2)
r = [fib(i) for i in range(10)]
print(r)

Recursive execution

f(10) =f(9)+f(8)

f(10)= 21+13

f(10)=34

In [ ]:
def bin_search(arr,l,h,k):
  if l<=h:
    m = (l+h)//2
    if arr[m] ==k:
      return m
    elif arr[m]>k:
      return bin_search(arr,l,m-1,k)
    else:
      return bin_search(arr,m+1,h,k)
  else:
    return -1
result = bin_search([1,2,3,4,5],0,4,3)
print(result)

**Anonymous Functions**

In [ ]:
add = lambda a,b:a+b
r= add(3,4)
print(r)

In [ ]:
data= [(1,4),(3,2),(2,8),(4,1)]
sorted_data = sorted(data,key=lambda x: x[1])
print(sorted_data)

In [ ]:
n = [1,2,3,4,5]
sq = list(map(lambda x: x**2, n))
print(sq)

In [ ]:
data = {'apple':5,'banana':2,'cherry':8,'date':1}
sorted_data = dict(sorted(data.items(),key=lambda x: x[1]))
print(sorted_data)

# **File handling operation**

Opening, Reading a file

Writing a file

Using a Context Manager

Appending a file

Reading and Writing binary file

In [ ]:
file= open("example.txt","r")
content=file.read()
file.close()
print(content)

In [ ]:
file= open("example.txt","w")
file.write("Hello,Python")
file.close()

In [ ]:
with open("example.txt","r") as file:
  content=file.read()
print(content)

**OOPS in Python**

In [ ]:
class Dog:
  def __init__(self,name,breed):
    self.name = name
    self.breed = breed
my_dog = Dog("Buddy", "Labrador")
print(my_dog.name,my_dog.breed)

In [ ]:
class Circle:
  def __init__(self,r):
    self.r = r
  def area(self):
    return 3.14*self.r**2
circle = Circle(5)
print(circle.area())

In [ ]:
class Parrot:
  name=""
  age=0
p1 = Parrot()
p1.name="Blu"
p1.age =10
p2 = Parrot()
p2.name="Woo"
p2.age =15
print(f"{p1.name} is {p1.age} yrs old")
print(f"{p2.name} is {p2.age} yrs old")

In [ ]:
class Person:
  def __init__(self,name,age):
    self.name = name
    self.age = age
p1 = Person("Shri",30)
p2 = Person("Pun",25)
print(p1.name,p1.age)
print(p2.name,p2.age)

In [ ]:
class Car:
  def __init__(self,make,model):
    self.make = make
    self.model = model
  def get_info(self):
    return f"{self.make} {self.model}"

car = Car("Toyota","Camry")
print(car.get_info())

**Inheritance**

In [ ]:
class Parent:
  pass
class Child(Parent):
  pass

In [ ]:
class Parent:
  def parent_method(self):
    print("Method in parent class")
class Child(Parent):
  def child_method(self):
    print("Method in child class")
child_instance = Child()
child_instance.parent_method()
child_instance.child_method()

In [ ]:
class Cat:
  def speak(self):
    return "Meow!"
class Lion(Cat):
  pass
lion = Lion()
print(lion.speak())

In [ ]:
class Animal:
  def eat(self):
    print("I can eat")
  def sleep(self):
    print("I can sleep")
class Dog(Animal):
  def bark(self):
    print("I can bark! Woof Woof!")
dog1 = Dog()
dog1.eat()
dog1.sleep()
dog1.bark()

# **Types of Inheritance**

Single Inheritance

Multiple Inheritance

Multilevel Inheritance

Hierarchical Inheritance

Hybrid Inheritance

In [ ]:
class Class1:
    def m(self):
        print("In Class1")

class Class2(Class1):
    def m(self):
        print("In Class2")

class Class3(Class1):
    def m(self):
        print("In Class3")

class Class4(Class2, Class3):
    pass

obj = Class4()
obj.m()

In [ ]:
class Employees():

   def Name(self):
       print("Employee Name: Sanket")

class salary(Employees):
   def Salary(self):
       print("Salary: 50000")

class Designation(salary):
   def desig(self):
       print("Designation: Software Engineer")

call = Designation()
call.Name()
call.Salary()
call.desig()

Employee Name: Sanket
Salary: 50000
Designation: Software Engineer

In [ ]:
class Parent:
    def func1(self):
        print("This function is in parent class.")
class Child1(Parent):
    def func2(self):
        print("This function is in child 1.")
class Child2(Parent):
    def func3(self):
        print("This function is in child 2.")
object1 = Child1()
object2 = Child2()
object1.func1()
object1.func2()
object2.func1()
object2.func3()

This function is in parent class.
This function is in child 1.
This function is in parent class.
This function is in child 2.

**Encapsulation**

In [ ]:
class MyClass:
  def __init__(self):
    self.public_var = 42
    self._protected_var = "protected"
    self.__private_method = "private"

  def public_method(self):
    return "This is public method"
  def _protected_method(self):
    return "This is protected method"
  def __private_method(self):
    return "This is private method"

In [ ]:
my_object = MyClass()
print(my_object.public_var)
print(my_object._protected_var)
result = my_object._protected_var
print(result)

In [ ]:
class Temperature:
  def __init__(self,celsius):
    self._celsius = celsius
  def to_fahrenheit(self):
    return (self._celsius*9/5) +32

temp = Temperature(25)
fahrenheit = temp.to_fahrenheit()
print(fahrenheit)

In [ ]:
class BankAccount():
  def __init__(self,balance):
    self._balance = balance
  def deposit(self,amount):
    if amount>0:
      self._balance +=amount
  def withdraw(self,amount):
    if amount>0 and amount<=self._balance:
      self._balance -= amount

account = BankAccount(1000)
account.deposit(500)
account.withdraw(300)
print(account._balance)

**Polymorphism**

In [ ]:
class Car:
  def __init__(self,brand,model):
    self.brand = brand
    self.model = model
  def move(self):
    print("Drive")
class Boat:
  def __init__(self,brand,model):
    self.brand = brand
    self.model = model
  def move(self):
    print("Sail")
class Plane:
  def __init__(self,brand,model):
    self.brand = brand
    self.model = model
  def move(self):
    print("Fly")
car1 = Car("Ford","Mustang")
boat1 = Boat("Ibiza","Touring 20")
plane1 = Plane("Boeing","747")

for x in (car1,boat1,plane1):
  x.move()

**Abstract base class**

In [ ]:
from abc import ABC, abstractmethod
class Shape(ABC):
  def area(self):
    pass
class Circle(Shape):
  def __init__(self,radius):
    self.radius = radius
  def area(self):
    return 3.14*self.radius**2
class Rectangle(Shape):
  def __init__(self,l,b):
    self.l = l
    self.b = b
  def area(self):
    return self.l*self.b
C = Circle(5)
R = Rectangle(4,6)
print(C.area())
print(R.area())

78.5
24

# **Functions in Math**

In [ ]:
import math
print(math.factorial(5))

120

In [ ]:
import math
print(math.pow(4,2))

16.0

In [ ]:
import math
print(math.sqrt(100))

10.0

In [ ]:
import math
print(math.radians(180))

3.141592653589793

In [ ]:
import math
print(math.degrees(8.89))

509.35947987130186

In [ ]:
import math
print(math.sin(10))

-0.5440211108893698

In [ ]:
import math
print(math.cos(10))

-0.8390715290764524

In [ ]:
import math
print(math.tan(10))

0.6483608274590866

In [ ]:
import math
print(math.log10(20))

1.3010299956639813

In [ ]:
import math
print(math.gcd(3,6))

3

In [ ]:
import math
print(math.fabs(-66.43))

66.43

In [ ]:
import math
print(math.remainder(9,2))

1.0

# **String Functions**

In [ ]:
mylist = "apple"
x = len(mylist)
print(x)

5

In [ ]:
txt = "Hello, welcome to my world."
x = txt.index("welcome")
print(x)

7

In [ ]:
txt = "I love apples, apple are my favorite fruit"
x = txt.count("apple")
print(x)

2

In [ ]:
txt = "Hello my friends"
x = txt.upper()
print(x)

HELLO MY FRIENDS

In [ ]:
txt = "Hello my FRIENDS"
x = txt.lower()
print(x)

hello my friends

In [ ]:
txt = "Hello, welcome to my world."
x = txt.startswith("Hello")
print(x)

True

In [ ]:
txt = "Hello, welcome to my world."
x = txt.endswith(".")
print(x)

True

In [ ]:
txt = "welcome to the jungle"
x = txt.split()
print(x)

['welcome', 'to', 'the', 'jungle']

# **List Functions**

In [ ]:
mylist = ["apple", "banana", "cherry"]
x = len(mylist)
print(x)

3

In [ ]:
fruits = ['apple', 'banana', 'cherry']
x = fruits.index("cherry")
print(x)

2

In [ ]:
fruits = ['apple', 'banana', 'cherry']
x = fruits.count("cherry")
print(x)

1

In [ ]:
fruits = ['apple', 'banana', 'cherry']
fruits.append("orange")
print(fruits)

['apple', 'banana', 'cherry', 'orange']

In [ ]:
fruits = ['apple', 'banana', 'cherry']
fruits.insert(1, "orange")
print(fruits)

['apple', 'orange', 'banana', 'cherry']

In [ ]:
fruits = ['apple', 'banana', 'cherry']
fruits.remove("banana")
print(fruits)

['apple', 'cherry']

In [ ]:
fruits = ['apple', 'banana', 'cherry']
fruits.pop(1)
print(fruits)

['apple', 'cherry']

In [ ]:
cars = ['Ford', 'BMW', 'Volvo']
cars.sort()
print(cars)

['BMW', 'Ford', 'Volvo']

In [ ]:
fruits = ['apple', 'banana', 'cherry']
fruits.reverse()
print(fruits)

['cherry', 'banana', 'apple']

In [ ]:
fruits = ["apple", "banana", "cherry"]
fruits.clear()
print(fruits)

[]

In [ ]:
x = max(5, 10)
print(x)

10

In [ ]:
x = min(5, 10)
print(x)

5

In [ ]:
numbers = [1,2,3,4,5,1,4,5]
Sum = sum(numbers)
print(Sum)

25

# **Dictionary**

In [ ]:
car = {"brand": "Ford","model": "Mustang","year": 1964}
car.clear()
print(car)

{}

In [ ]:
car = {"brand": "Ford","model": "Mustang","year": 1964}
x = car.copy()
print(x)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [ ]:
car = {"brand": "Ford","model": "Mustang","year": 1964}
x = car.get("model")
print(x)

Mustang

In [ ]:
car = {"brand": "Ford","model": "Mustang","year": 1964}
x = car.items()
print(x)

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [ ]:
car = {"brand": "Ford","model": "Mustang","year": 1964}
x = car.keys()
print(x)

dict_keys(['brand', 'model', 'year'])

In [ ]:
car = {"brand": "Ford","model": "Mustang","year": 1964}
car.pop("model")
print(car)

{'brand': 'Ford', 'year': 1964}

In [ ]:
car = {"brand": "Ford","model": "Mustang","year": 1964}
car.popitem()
print(car)

{'brand': 'Ford', 'model': 'Mustang'}

In [ ]:
car = {"brand": "Ford","model": "Mustang","year": 1964}
x = car.values()
print(x)

dict_values(['Ford', 'Mustang', 1964])

# **Set Function**

In [ ]:
thisset = {"apple", "banana", "cherry"}
print(len(thisset))

3

In [ ]:
fruits = {"apple", "banana", "cherry"}
fruits.add("orange")
print(fruits)

{'cherry', 'banana', 'apple', 'orange'}

In [ ]:
fruits = {"apple", "banana", "cherry"}
fruits.clear()
print(fruits)

set()

In [ ]:
fruits = {"apple", "banana", "cherry"}
x = fruits.copy()
print(x)

{'cherry', 'banana', 'apple'}

In [ ]:
fruits = {"apple", "banana", "cherry"}
fruits.discard("banana")
print(fruits)

{'cherry', 'apple'}

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.intersection(y)
print(z)

{'apple'}

In [ ]:
fruits = {"apple", "banana", "cherry"}
fruits.pop()
print(fruits)

{'banana', 'apple'}

In [ ]:
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}
z = x.issubset(y)
print(z)

True

In [ ]:
fruits = {"apple", "banana", "cherry"}
fruits.remove("banana")
print(fruits)

{'cherry', 'apple'}

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.union(y)
print(z)

{'banana', 'google', 'microsoft', 'cherry', 'apple'}

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.update(y)
print(x)

{'banana', 'google', 'microsoft', 'cherry', 'apple'}